Library/
Logs/
obj/
venv/Include
venv/Lib
pyvenv.cfg
venv/Scripts/__pycache__
venv/Scripts/results
Temp/
venv/Scripts/activate
venv/Scripts/activate.bat
venv/Scripts/Activate.ps1
venv/Scripts/chardetect.exe
venv/Scripts/convert-caffe2-to-onnx.exe
venv/Scripts/convert-onnx-to-caffe2.exe
venv/Scripts/deactivate.bat
venv/Scripts/f2py.exe
venv/Scripts/google-oauthlib-tool.exe
venv/Scripts/markdown_py.exe
venv/Scripts/mlagents-learn.exe
venv/Scripts/mlagents-run-experiment.exe
venv/Scripts/pip.exe
venv/Scripts/pip3.9.exe
venv/Scripts/pip3.exe
venv/Scripts/pyrsa-decrypt.exe
venv/Scripts/pyrsa-encrypt.exe
venv/Scripts/pyrsa-keygen.exe
venv/Scripts/pyrsa-priv2pub.exe
venv/Scripts/pyrsa-sign.exe
venv/Scripts/pyrsa-verify.exe
venv/Scripts/python.exe
venv/Scripts/pythonw.exe
venv/Scripts/pywin32_postinstall.py
venv/Scripts/pywin32_testall.py
venv/Scripts/tensorboard.exe
venv/Scripts/wheel.exe
Assembly-CSharp.csproj
dasdasdhj
AI rockets.sln
Assembly-CSharp-Editor.csproj